header {
  background-color: var(--primary-color);
  color: #eee;
  padding: 20px;
}

header .routes {
  float: right;
}

header .routes a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}
