header {
  background-color: var(--primary-color);
  color: #eee;
  padding: 20px;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto auto;
}

header span {
  text-transform: uppercase;
  font: bolder;
}

header span a {
  text-decoration: none;
  color: #eee;
  
}

header .routes {
  float: right;
}

header .routes a {
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 20px;
}
