:root {
  --primary-color: #41c3c4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: #474747;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: 1px solid #333;
}
