.landingbg {
  background-image: url("../images/background.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.landing {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 10px;
  min-height: 100vh;
  background: rgba(9, 10, 10, 0.5);
}

.landing h1 {
  text-transform: uppercase;
  color: #eee;
}

.landing-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-content: space-between;
}

.landing-buttons button {
  padding: 10px;
  border-radius: 0.125rem;
  border: none;
  background-color: #eee;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s;
}

.landing-buttons button:hover,
.landing-buttons button:focus,
.landing-buttons .active-button {
  background-color: var(--primary-color);
  color: #eee;
}

.search-document-form {
  display: grid;
  grid-gap: 10px;
}

.search-document-form div {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.search-document-form input {
  width: 100%;
  padding: 10px 5px;
}

div.advanced-search {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  grid-gap: 20px;
  color: #eee;
}

div.advanced-search input[type="checkbox"] {
  cursor: pointer;
  transform: scale(1.5);
}
