.nav-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  background-color: #eee;
  transition: all 0.3s ease-in;
}

.nav-item {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  text-align: center;
  border-right: 1px solid #d3d3d3;
  padding: 10px 5px;
}

.nav-item p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.nav-item:hover {
  background-color: #fff;
  cursor: pointer;
}

.active-item {
  background-color: #fff;
}
