

.hr1 {
    border: 1px solid black;
    margin-top: 0px;
  
  }
  .no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
  }
  .Selectyourthesisbtn {
    background-color: #f44336 ;
    color: green;
  }
  /*input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important; }
  */
  
  /* The alert message box */
  .alert {
      padding: 20px;
      background-color: #f44336; /* Red */
      color: white;
      margin-bottom: 15px;
    }
  
    /* The close button */
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
  
    /* When moving the mouse over the close button */
    .closebtn:hover {
      color: black;
    }
  
    /*style for buttons */
    a {
      text-decoration: none;
      display: inline-block;
      padding: 8px 16px;
    }
  
    a:hover {
      background-color: #ddd;
      color: black;
    }
    .previous {
      background-color: #f44336 ;
      color: white;
    }
  
    .next {
      background-color: #4CAF50;
      color: white;
    }
  
  
    input, select {
      width: 100%;
      display: block;
      border: none;
      border-bottom: 2px solid #ebebeb;
      padding: 3px 0;
      color: #222;
      margin-bottom: 31px;
      font-family: 'Roboto Slab';
     }
      input:focus, select:focus {
        color: #222;
        border-bottom: 2px solid #4966b1;
       }
  
    .select-list {
      position: relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 20px;
    }
  